:root{
    --primary-color: #0077be;
    --secondary-color: #228b22;
    --accent1-color: #ff8c00;
    --accent2-color: #ffffff;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto Slab', serif;
    color: var(--primary-color);
    background-color: #ffffff;
}
p{
    font-family: 'Montserrat', sans-serif;
    color: #333;
}
.footer-linked-images{
    text-decoration: none;
}
.hero{
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;

}
.hero h1{
    position: absolute;
    top: 0%;
    margin: 30px;
    width: 100%;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    text-align: center;


}
.hero article{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 35%;
    padding: 10px;
    margin: 20px auto;
    color: #ffffff;
    max-width: 85%;
    border-radius: 10px;
}
.background-image{
    display: block;
    width: 100%;
    height: 60vh;
}
.hero article img{
    float: right;
    width: 300px;
    height: 150px;
    padding: 20px;
}
.hero article p{
    padding: 0 0 0 10px;
    text-align: center;
    color: #eee;
}
.adventure-images{
    display: block;
    margin:  20px auto ;
    border: 4px solid var(--accent1-color);
    width: 100%;

}
.grid_container{
    display: grid;
    grid-template-columns:1fr 4fr;
    grid-gap: 20px;
    align-items: center;
}
.grid_logo{
    grid-column: 1/2;
}
.grid_item1{
    grid-column: 2/3;
    width: 100%;
    height: 50%;
    background-color: var(--accent1-color);
    box-sizing: border-box;
    padding: 10px;
}
.grid_item2{
    grid-column: 3/4;

}
.grid_item3{
    grid-column: 4/5;

}
.grid_item4{
    grid-column: 4/6;

}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 15px;

}
nav a{
    width: 100%;
    background-color: var(--accent1-color);
    box-sizing: border-box;
    padding: 10px 15px;
    text-decoration: none;
    color: #111;
    border: 3px solid #000;
    text-align: center;
    font-weight: bold;
}

.history-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 30px;
    align-items: center;
    padding: 40px 20px;
}
.history-section h2{
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
}
.history-section p:first-of-type {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: left;
    align-self: center;
    justify-self: center;
    width: 100%;
    margin: 30px;
}
.history-section img {
    grid-column: 2/3;
    grid-row: 2/3;
    width:  100%;
    max-width: 400px;
    height: auto;
    justify-self: center;
    align-self: center;
    border: 4px solid var(--accent1-color);
}
.history-section p{
    color: #222
}
.history-section p:last-of-type {
    grid-column: 3/4;
    grid-row: 2/3;
    text-align: right;
    align-self: center;
    justify-self: center;
    width: 100%;
    margin: 30px;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #000;
    text-align: center;
}
footer p {
    flex-grow: 1;
    color: #222
}

.footer-links {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}
.footer-links a img{
    filter: brightness(90%);
}
figcaption{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.adventure_awaits_you{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
}
.adventure_awaits_you h2{
    grid-column: 1/6;
    grid-row: 1;
    text-align: center;
}
.adventure_awaits_you figure img{
    border-radius: 10px;
    width: 100%;
    height: auto;
}
.adventure_awaits_you figure{
    grid-row: 2;
    max-width: 200px;
}
.contact-us{
    justify-items: center;
}
.contact-us p{
    font-weight: bold;
}
.map{
    box-shadow: 0 0 12px 0;
}
.instructors{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    justify-content: center;
    width: 100%;
    margin: 30px 0;
}
.instructors h2{
    grid-row: 1;
    grid-column: 1/-1;
    text-align: center;
}
.instructors figure{
    grid-row: 2;
    text-align: center;
}
.instructors img{
    box-shadow: 0 0 8px 0;
}
figcaption{
    font-size: 1.2em;
    margin: 5px auto;
}
.employeeimage{
    width: 250px;
    height: 400px;
    border-radius: 3px;
}
.message h2{
    width: 100%;
    text-align: center;
}
form{
    padding: 20px;
    margin: 30px auto;
    box-shadow: 0 0 9px 0;
    width: 650px;
}
fieldset{
    display: grid;
    gap: 15px;
    margin: 10px;
    border-radius: 5px;
}
legend{
    padding: 7px;
    font-size: 1.3rem;
    font-family: 'Roboto Slab', serif;
}
label, input, button, select, textarea {
    font-family:'Montserrat', Arial, sans-serif;
}

.form-item{
    display: grid;
    grid-template-columns: auto;
    gap: 5px
}
input{
    padding: 3px;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 3px;
}
textarea{
    min-width: 100%;
    height: 180px;
    resize: none;
}
input[type="checkbox"]{
    margin: 0 3px;
}
button{
    margin: 5px;
    width: 100%;
    padding: 5px;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 3px;
    font-weight: bold;
}
.message-title{
    font-family:'Montserrat', Arial, sans-serif;
    color: #000;
    font-weight: 400;
}
label[for^="message"]{
    font-size: .9em;
}