:root{
    --width: 150px;
    --colors1:darkblue;
    --padding: 2px;
    --border: 1px solid #000;
    --box-shadow: 0 0 30px gray;
    --text-align: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f0f0f0;
    color: #333;
}

nav {
    background-color: var(--colors1);
    padding: 10px;
    color: #ffffff;
}
nav a {
    color: white;
    display: block;
    padding: 10px;
}
h1 {
    color: var(--colors1);
    background-color: #ffffff;
}
img {
    width: var(--width, 150px);
    height: auto;
    border: var(--border, 1px solid #000);
    padding: var(--padding, 2px);
    box-shadow: var(--box-shadow, 0 0 30px gray);
}
p {
    padding: 0;
}
main {
    max-width: 840px;
}
aside {
    width: 20em;
    text-align: var(--text-align);
    position: relative;
}
aside img{
    max-width: 200px;
    height: auto;
}
aside h2{
    position: absolute;
    top: 55px;
    left: 107px;
}
main img{
    border: 1px solid steelblue;
    float: right;
}
footer{
    margin-top: 15px;
    border-top: var(--border);
    text-align: var(--text-align);
}
/* Class Selectors */
.box{
    margin: 1rem;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}